body {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftColumn {
  background-image: url('./public/dog.jpg');
  height: 100%;
  width: 33%;
}

.title {
  color: white;
  height: 100vh;
  margin-top: 200px;
}

.mainTitle {
  font-size: 48px;
  height: 150px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.puller {
  margin-left: 48px;
  width: 80vh;
  font-size: 32px;
  font-weight: 700;
}

.legend {
  margin-left: 48px;
  font-size: 24px;
}

.form {
  height: 400px;
}

.button {
  margin-left: 48px;
}